/* COLORS */
/* MODE:COLOR */

.c-0x0 {
    background-color: #000000;
}
.c-0x1 {
    background-color: #00009a;
}
.c-0x2 {
    background-color: #9a0000;
}
.c-0x3 {
    background-color: #9a009a;
}
.c-0x4 {
    background-color: #009a00;
}
.c-0x5 {
    background-color: #009a9a;
}
.c-0x6 {
    background-color: #9a9a00;
}
.c-0x7 {
    background-color: #9a9a9a;
}
.c-1x1 {
    background-color: #0000cd;
}
.c-1x2 {
    background-color: #9a009a;
}
.c-1x3 {
    background-color: #9a00cd;
}
.c-1x4 {
    background-color: #009a9a;
}
.c-1x5 {
    background-color: #009acd;
}
.c-1x6 {
    background-color: #9a9a9a;
}
.c-1x7 {
    background-color: #9a9acd;
}
.c-2x2 {
    background-color: #cd0000;
}
.c-2x3 {
    background-color: #cd009a;
}
.c-2x4 {
    background-color: #9a9a00;
}
.c-2x5 {
    background-color: #9a9a9a;
}
.c-2x6 {
    background-color: #cd9a00;
}
.c-2x7 {
    background-color: #cd9a9a;
}
.c-3x3 {
    background-color: #cd00cd;
}
.c-3x4 {
    background-color: #9a9a9a;
}
.c-3x5 {
    background-color: #9a9acd;
}
.c-3x6 {
    background-color: #cd9a9a;
}
.c-3x7 {
    background-color: #cd9acd;
}
.c-4x4 {
    background-color: #00cd00;
}
.c-4x5 {
    background-color: #00cd9a;
}
.c-4x6 {
    background-color: #9acd00;
}
.c-4x7 {
    background-color: #9acd9a;
}
.c-5x5 {
    background-color: #00cdcd;
}
.c-5x6 {
    background-color: #9acd0a;
}
.c-5x7 {
    background-color: #9acdcd;
}
.c-6x6 {
    background-color: #cdcd00;
}
.c-6x7 {
    background-color: #cdcd9a;
}
.c-7x7 {
    background-color: #cdcdcd;
}
.c-0x0.bright {
    background-color: #000000;
}
.c-0x1.bright {
    background-color: #0000c0;
}
.c-0x2.bright {
    background-color: #c00000;
}
.c-0x3.bright {
    background-color: #c000c0;
}
.c-0x4.bright {
    background-color: #00c000;
}
.c-0x5.bright {
    background-color: #00c0c0;
}
.c-0x6.bright {
    background-color: #c0c000;
}
.c-0x7.bright {
    background-color: #c0c0c0;
}
.c-1x1.bright {
    background-color: #0000ff;
}
.c-1x2.bright {
    background-color: #c000c0;
}
.c-1x3.bright {
    background-color: #c000ff;
}
.c-1x4.bright {
    background-color: #00c0c0;
}
.c-1x5.bright {
    background-color: #00c0ff;
}
.c-1x6.bright {
    background-color: #c0c0c0;
}
.c-1x7.bright {
    background-color: #c0c0ff;
}
.c-2x2.bright {
    background-color: #ff0000;
}
.c-2x3.bright {
    background-color: #ff00c0;
}
.c-2x4.bright {
    background-color: #c0c000;
}
.c-2x5.bright {
    background-color: #c0c0c0;
}
.c-2x6.bright {
    background-color: #ffc000;
}
.c-2x7.bright {
    background-color: #ffc0c0;
}
.c-3x3.bright {
    background-color: #ff00ff;
}
.c-3x4.bright {
    background-color: #c0c0c0;
}
.c-3x5.bright {
    background-color: #c0c0ff;
}
.c-3x6.bright {
    background-color: #ffc0c0;
}
.c-3x7.bright {
    background-color: #ffc0ff;
}
.c-4x4.bright {
    background-color: #00ff00;
}
.c-4x5.bright {
    background-color: #00ffc0;
}
.c-4x6.bright {
    background-color: #c0ff00;
}
.c-4x7.bright {
    background-color: #c0ffc0;
}
.c-5x5.bright {
    background-color: #00ffff;
}
.c-5x6.bright {
    background-color: #c0ffc0;
}
.c-5x7.bright {
    background-color: #c0ffff;
}
.c-6x6.bright {
    background-color: #ffff00;
}
.c-6x7.bright {
    background-color: #ffffc0;
}
.c-7x7.bright {
    background-color: #ffffff;
}

/* MODE:CHUNKY */
.mode-chunky .cell, .mode-chunky td, .app-chunky-preload {
    background-image: url('/assets/images/chunky/pulsar.png');
    background-repeat: no-repeat;
    background-position: -9999px -9999px;
}

.mode-chunky .cell.bright, .mode-chunky td.bright, .app-chunky-preload i {
    background-image: url('/assets/images/chunky/pulsar-bright.png');
}

.mode-chunky .c-0x0.bright{
    background-position: -0px -0px;
}
.mode-chunky .c-0x1.bright{
    background-position: -0px -32px;
}
.mode-chunky .c-0x2.bright{
    background-position: -0px -64px;
}
.mode-chunky .c-0x3.bright{
    background-position: -0px -96px;
}
.mode-chunky .c-0x4.bright{
    background-position: -0px -128px;
}
.mode-chunky .c-0x5.bright{
    background-position: -0px -160px;
}
.mode-chunky .c-0x6.bright{
    background-position: -0px -192px;
}
.mode-chunky .c-0x7.bright{
    background-position: -0px -224px;
}
.mode-chunky .c-1x1.bright{
    background-position: -32px -32px;
}
.mode-chunky .c-1x2.bright{
    background-position: -32px -64px;
}
.mode-chunky .c-1x3.bright{
    background-position: -32px -96px;
}
.mode-chunky .c-1x4.bright{
    background-position: -32px -128px;
}
.mode-chunky .c-1x5.bright{
    background-position: -32px -160px;
}
.mode-chunky .c-1x6.bright{
    background-position: -32px -192px;
}
.mode-chunky .c-1x7.bright{
    background-position: -32px -224px;
}
.mode-chunky .c-2x2.bright{
    background-position: -64px -64px;
}
.mode-chunky .c-2x3.bright{
    background-position: -64px -96px;
}
.mode-chunky .c-2x4.bright{
    background-position: -64px -128px;
}
.mode-chunky .c-2x5.bright{
    background-position: -64px -160px;
}
.mode-chunky .c-2x6.bright{
    background-position: -64px -192px;
}
.mode-chunky .c-2x7.bright{
    background-position: -64px -224px;
}
.mode-chunky .c-3x3.bright{
    background-position: -96px -96px;
}
.mode-chunky .c-3x4.bright{
    background-position: -96px -128px;
}
.mode-chunky .c-3x5.bright{
    background-position: -96px -160px;
}
.mode-chunky .c-3x6.bright{
    background-position: -96px -192px;
}
.mode-chunky .c-3x7.bright{
    background-position: -96px -224px;
}
.mode-chunky .c-4x4.bright{
    background-position: -128px -128px;
}
.mode-chunky .c-4x5.bright{
    background-position: -128px -160px;
}
.mode-chunky .c-4x6.bright{
    background-position: -128px -192px;
}
.mode-chunky .c-4x7.bright{
    background-position: -128px -224px;
}
.mode-chunky .c-5x5.bright{
    background-position: -160px -160px;
}
.mode-chunky .c-5x6.bright{
    background-position: -160px -192px;
}
.mode-chunky .c-5x7.bright{
    background-position: -160px -224px;
}
.mode-chunky .c-6x6.bright{
    background-position: -192px -192px;
}
.mode-chunky .c-6x7.bright{
    background-position: -192px -224px;
}
.mode-chunky .c-7x7.bright{
    background-position: -224px -224px;
}
.mode-chunky .c-0x0{
    background-position: -0px -0px;
}
.mode-chunky .c-0x1{
    background-position: -0px -32px;
}
.mode-chunky .c-0x2{
    background-position: -0px -64px;
}
.mode-chunky .c-0x3{
    background-position: -0px -96px;
}
.mode-chunky .c-0x4{
    background-position: -0px -128px;
}
.mode-chunky .c-0x5{
    background-position: -0px -160px;
}
.mode-chunky .c-0x6{
    background-position: -0px -192px;
}
.mode-chunky .c-0x7{
    background-position: -0px -224px;
}
.mode-chunky .c-1x1{
    background-position: -32px -32px;
}
.mode-chunky .c-1x2{
    background-position: -32px -64px;
}
.mode-chunky .c-1x3{
    background-position: -32px -96px;
}
.mode-chunky .c-1x4{
    background-position: -32px -128px;
}
.mode-chunky .c-1x5{
    background-position: -32px -160px;
}
.mode-chunky .c-1x6{
    background-position: -32px -192px;
}
.mode-chunky .c-1x7{
    background-position: -32px -224px;
}
.mode-chunky .c-2x2{
    background-position: -64px -64px;
}
.mode-chunky .c-2x3{
    background-position: -64px -96px;
}
.mode-chunky .c-2x4{
    background-position: -64px -128px;
}
.mode-chunky .c-2x5{
    background-position: -64px -160px;
}
.mode-chunky .c-2x6{
    background-position: -64px -192px;
}
.mode-chunky .c-2x7{
    background-position: -64px -224px;
}
.mode-chunky .c-3x3{
    background-position: -96px -96px;
}
.mode-chunky .c-3x4{
    background-position: -96px -128px;
}
.mode-chunky .c-3x5{
    background-position: -96px -160px;
}
.mode-chunky .c-3x6{
    background-position: -96px -192px;
}
.mode-chunky .c-3x7{
    background-position: -96px -224px;
}
.mode-chunky .c-4x4{
    background-position: -128px -128px;
}
.mode-chunky .c-4x5{
    background-position: -128px -160px;
}
.mode-chunky .c-4x6{
    background-position: -128px -192px;
}
.mode-chunky .c-4x7{
    background-position: -128px -224px;
}
.mode-chunky .c-5x5{
    background-position: -160px -160px;
}
.mode-chunky .c-5x6{
    background-position: -160px -192px;
}
.mode-chunky .c-5x7{
    background-position: -160px -224px;
}
.mode-chunky .c-6x6{
    background-position: -192px -192px;
}
.mode-chunky .c-6x7{
    background-position: -192px -224px;
}
.mode-chunky .c-7x7{
    background-position: -224px -224px;
}