/* COLORS */
/* MODE:COLOR */


.c-0x0 {
    background-color: #000000;
}
.c-0x1 {
    background-color: #000060;
}
.c-0x2 {
    background-color: #600000;
}
.c-0x3 {
    background-color: #600060;
}
.c-0x4 {
    background-color: #006000;
}
.c-0x5 {
    background-color: #006060;
}
.c-0x6 {
    background-color: #606000;
}
.c-0x7 {
    background-color: #606060;
}
.c-1x1 {
    background-color: #0000a6;
}
.c-1x2 {
    background-color: #600060;
}
.c-1x3 {
    background-color: #6000a6;
}
.c-1x4 {
    background-color: #006060;
}
.c-1x5 {
    background-color: #0060a6;
}
.c-1x6 {
    background-color: #606060;
}
.c-1x7 {
    background-color: #6060a6;
}
.c-2x2 {
    background-color: #a60000;
}
.c-2x3 {
    background-color: #a60060;
}
.c-2x4 {
    background-color: #606000;
}
.c-2x5 {
    background-color: #606060;
}
.c-2x6 {
    background-color: #a66000;
}
.c-2x7 {
    background-color: #a66060;
}
.c-3x3 {
    background-color: #a600a6;
}
.c-3x4 {
    background-color: #606060;
}
.c-3x5 {
    background-color: #6060a6;
}
.c-3x6 {
    background-color: #a66060;
}
.c-3x7 {
    background-color: #a660a6;
}
.c-4x4 {
    background-color: #00a600;
}
.c-4x5 {
    background-color: #00a660;
}
.c-4x6 {
    background-color: #60a600;
}
.c-4x7 {
    background-color: #60a660;
}
.c-5x5 {
    background-color: #00a6a6;
}
.c-5x6 {
    background-color: #60a660;
}
.c-5x7 {
    background-color: #60a6a6;
}
.c-6x6 {
    background-color: #a6a600;
}
.c-6x7 {
    background-color: #a6a660;
}
.c-7x7 {
    background-color: #a6a6a6;
}
.c-0x0.bright {
    background-color: #000000;
}
.c-0x1.bright {
    background-color: #000090;
}
.c-0x2.bright {
    background-color: #900000;
}
.c-0x3.bright {
    background-color: #900090;
}
.c-0x4.bright {
    background-color: #009000;
}
.c-0x5.bright {
    background-color: #009090;
}
.c-0x6.bright {
    background-color: #909000;
}
.c-0x7.bright {
    background-color: #909090;
}
.c-1x1.bright {
    background-color: #0000ff;
}
.c-1x2.bright {
    background-color: #900090;
}
.c-1x3.bright {
    background-color: #9000ff;
}
.c-1x4.bright {
    background-color: #009090;
}
.c-1x5.bright {
    background-color: #0090ff;
}
.c-1x6.bright {
    background-color: #909090;
}
.c-1x7.bright {
    background-color: #c0c0ff;
}
.c-2x2.bright {
    background-color: #ff0000;
}
.c-2x3.bright {
    background-color: #ff0090;
}
.c-2x4.bright {
    background-color: #909000;
}
.c-2x5.bright {
    background-color: #909090;
}
.c-2x6.bright {
    background-color: #ff9000;
}
.c-2x7.bright {
    background-color: #ffc0c0;
}
.c-3x3.bright {
    background-color: #ff00ff;
}
.c-3x4.bright {
    background-color: #909090;
}
.c-3x5.bright {
    background-color: #c0c0ff;
}
.c-3x6.bright {
    background-color: #ffc0c0;
}
.c-3x7.bright {
    background-color: #ffc0ff;
}
.c-4x4.bright {
    background-color: #00ff00;
}
.c-4x5.bright {
    background-color: #00ff90;
}
.c-4x6.bright {
    background-color: #90ff00;
}
.c-4x7.bright {
    background-color: #c0ffc0;
}
.c-5x5.bright {
    background-color: #00ffff;
}
.c-5x6.bright {
    background-color: #c0ffc0;
}
.c-5x7.bright {
    background-color: #c0ffff;
}
.c-6x6.bright {
    background-color: #ffff00;
}
.c-6x7.bright {
    background-color: #ffffc0;
}
.c-7x7.bright {
    background-color: #ffffff;
}

/* MODE:CHUNKY */
.mode-chunky .cell, .mode-chunky td, .app-chunky-preload {
    background-image: url('/assets/images/chunky/simple.png');
    background-repeat: no-repeat;
    background-position: -9999px -9999px;
}

.mode-chunky .cell.bright, .mode-chunky td.bright, .app-chunky-preload i {
    background-image: url('/assets/images/chunky/simple-bright.png');
}

.mode-chunky .c-0x0.bright{
    background-position: -0px -0px;
}
.mode-chunky .c-0x1.bright{
    background-position: -0px -32px;
}
.mode-chunky .c-0x2.bright{
    background-position: -0px -64px;
}
.mode-chunky .c-0x3.bright{
    background-position: -0px -96px;
}
.mode-chunky .c-0x4.bright{
    background-position: -0px -128px;
}
.mode-chunky .c-0x5.bright{
    background-position: -0px -160px;
}
.mode-chunky .c-0x6.bright{
    background-position: -0px -192px;
}
.mode-chunky .c-0x7.bright{
    background-position: -0px -224px;
}
.mode-chunky .c-1x1.bright{
    background-position: -32px -32px;
}
.mode-chunky .c-1x2.bright{
    background-position: -32px -64px;
}
.mode-chunky .c-1x3.bright{
    background-position: -32px -96px;
}
.mode-chunky .c-1x4.bright{
    background-position: -32px -128px;
}
.mode-chunky .c-1x5.bright{
    background-position: -32px -160px;
}
.mode-chunky .c-1x6.bright{
    background-position: -32px -192px;
}
.mode-chunky .c-1x7.bright{
    background-position: -32px -224px;
}
.mode-chunky .c-2x2.bright{
    background-position: -64px -64px;
}
.mode-chunky .c-2x3.bright{
    background-position: -64px -96px;
}
.mode-chunky .c-2x4.bright{
    background-position: -64px -128px;
}
.mode-chunky .c-2x5.bright{
    background-position: -64px -160px;
}
.mode-chunky .c-2x6.bright{
    background-position: -64px -192px;
}
.mode-chunky .c-2x7.bright{
    background-position: -64px -224px;
}
.mode-chunky .c-3x3.bright{
    background-position: -96px -96px;
}
.mode-chunky .c-3x4.bright{
    background-position: -96px -128px;
}
.mode-chunky .c-3x5.bright{
    background-position: -96px -160px;
}
.mode-chunky .c-3x6.bright{
    background-position: -96px -192px;
}
.mode-chunky .c-3x7.bright{
    background-position: -96px -224px;
}
.mode-chunky .c-4x4.bright{
    background-position: -128px -128px;
}
.mode-chunky .c-4x5.bright{
    background-position: -128px -160px;
}
.mode-chunky .c-4x6.bright{
    background-position: -128px -192px;
}
.mode-chunky .c-4x7.bright{
    background-position: -128px -224px;
}
.mode-chunky .c-5x5.bright{
    background-position: -160px -160px;
}
.mode-chunky .c-5x6.bright{
    background-position: -160px -192px;
}
.mode-chunky .c-5x7.bright{
    background-position: -160px -224px;
}
.mode-chunky .c-6x6.bright{
    background-position: -192px -192px;
}
.mode-chunky .c-6x7.bright{
    background-position: -192px -224px;
}
.mode-chunky .c-7x7.bright{
    background-position: -224px -224px;
}
.mode-chunky .c-0x0{
    background-position: -0px -0px;
}
.mode-chunky .c-0x1{
    background-position: -0px -32px;
}
.mode-chunky .c-0x2{
    background-position: -0px -64px;
}
.mode-chunky .c-0x3{
    background-position: -0px -96px;
}
.mode-chunky .c-0x4{
    background-position: -0px -128px;
}
.mode-chunky .c-0x5{
    background-position: -0px -160px;
}
.mode-chunky .c-0x6{
    background-position: -0px -192px;
}
.mode-chunky .c-0x7{
    background-position: -0px -224px;
}
.mode-chunky .c-1x1{
    background-position: -32px -32px;
}
.mode-chunky .c-1x2{
    background-position: -32px -64px;
}
.mode-chunky .c-1x3{
    background-position: -32px -96px;
}
.mode-chunky .c-1x4{
    background-position: -32px -128px;
}
.mode-chunky .c-1x5{
    background-position: -32px -160px;
}
.mode-chunky .c-1x6{
    background-position: -32px -192px;
}
.mode-chunky .c-1x7{
    background-position: -32px -224px;
}
.mode-chunky .c-2x2{
    background-position: -64px -64px;
}
.mode-chunky .c-2x3{
    background-position: -64px -96px;
}
.mode-chunky .c-2x4{
    background-position: -64px -128px;
}
.mode-chunky .c-2x5{
    background-position: -64px -160px;
}
.mode-chunky .c-2x6{
    background-position: -64px -192px;
}
.mode-chunky .c-2x7{
    background-position: -64px -224px;
}
.mode-chunky .c-3x3{
    background-position: -96px -96px;
}
.mode-chunky .c-3x4{
    background-position: -96px -128px;
}
.mode-chunky .c-3x5{
    background-position: -96px -160px;
}
.mode-chunky .c-3x6{
    background-position: -96px -192px;
}
.mode-chunky .c-3x7{
    background-position: -96px -224px;
}
.mode-chunky .c-4x4{
    background-position: -128px -128px;
}
.mode-chunky .c-4x5{
    background-position: -128px -160px;
}
.mode-chunky .c-4x6{
    background-position: -128px -192px;
}
.mode-chunky .c-4x7{
    background-position: -128px -224px;
}
.mode-chunky .c-5x5{
    background-position: -160px -160px;
}
.mode-chunky .c-5x6{
    background-position: -160px -192px;
}
.mode-chunky .c-5x7{
    background-position: -160px -224px;
}
.mode-chunky .c-6x6{
    background-position: -192px -192px;
}
.mode-chunky .c-6x7{
    background-position: -192px -224px;
}
.mode-chunky .c-7x7{
    background-position: -224px -224px;
}